// responsive design - mobile
@mixin phone() {
  .to-do-app {
    flex-basis: 90%;
  }
  .input-section {
    flex-direction: column;
    gap: 0.5rem;
  }
  #add-task-btn,
  #task-input {
    width: 100%;
  }
}
// responsive design - tablet
@mixin tablet() {
  .to-do-app {
    flex-basis: 80%;
  }
}
