@media screen and (max-width: 480px) {
  .to-do-app {
    min-width: 90vw;
  }
  .input-section {
    flex-direction: column;
    gap: 0.5rem;
  }
  #add-task-btn,
  #task-input {
    width: 100%;
  }
}